EK-MultipleTransporter/Web References/AuthOps/AuthOps.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://adm-danismanlik.com/services/dms/AuthService" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://adm-danismanlik.com/services/dms/AuthService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://adm-danismanlik.com/services/dms/AuthService">
      <s:element name="AuthenticateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientuser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="refToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImpersonateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientuser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="refToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="systemUserToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImpersonateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImpersonateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="ImpersonateUserSoapIn">
    <wsdl:part name="parameters" element="tns:ImpersonateUser" />
  </wsdl:message>
  <wsdl:message name="ImpersonateUserSoapOut">
    <wsdl:part name="parameters" element="tns:ImpersonateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthOpsSoap">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImpersonateUser">
      <wsdl:input message="tns:ImpersonateUserSoapIn" />
      <wsdl:output message="tns:ImpersonateUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthOpsSoap" type="tns:AuthOpsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://adm-danismanlik.com/services/dms/AuthService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImpersonateUser">
      <soap:operation soapAction="http://adm-danismanlik.com/services/dms/AuthService/ImpersonateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuthOpsSoap12" type="tns:AuthOpsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://adm-danismanlik.com/services/dms/AuthService/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImpersonateUser">
      <soap12:operation soapAction="http://adm-danismanlik.com/services/dms/AuthService/ImpersonateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthOps">
    <wsdl:port name="AuthOpsSoap" binding="tns:AuthOpsSoap">
      <soap:address location="http://192.168.50.121/DmsWebServices/AuthOps.asmx" />
    </wsdl:port>
    <wsdl:port name="AuthOpsSoap12" binding="tns:AuthOpsSoap12">
      <soap12:address location="http://192.168.50.121/DmsWebServices/AuthOps.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>